<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs1">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/sbs1-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/sbs1.webp">
            <img loading="lazy" decoding="async" src="/sbs1-fallback.jpg" alt="construction" width="1476" height="1238">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Kosmetologia estetyczna</span>
                <h2 class="cs-title">Twoja uroda to moja pasja</h2>
            </div>
            <p class="cs-text">
                Wdrażam najnowsze trendy i naukowe podejście do tematu kosmetologii estetycznej, tak byś miała pewność że efekty będą <strong>satysfakcjonujące i długotrwałe</strong>.
                Zrobię wszystko, żebyś podobała się sobie jeszcze bardziej!
            </p>
            <p class="cs-text">
                <strong>Moje usługi wychodzą daleko poza zwykłe wykonanie zabiegu </strong>- chcę zbudować z każdą klientką prawdziwą relację i długoterminowo czuwać nad przebiegiem kuracji.
            </p>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" alt="waves" width="960" height="839">
    </picture>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbs2">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/sbs2-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/sbs2.webp">
            <img loading="lazy" decoding="async" src="/sbs2-fallback.jpg" alt="construction" width="1476" height="1251">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Kosmetologia lecznicza</span>
                <h2 class="cs-title">Podaruj swojej skórze nowe życie</h2>
            </div>
            <p class="cs-text">
                Nie musisz godzić się na wieczne zmagania z problemami skórnymi! Wykorzystaj moją specjalistyczną wiedzę w sferze prowadzenia <strong>kompleksowych programów pielęgnacyjnych</strong>.
            </p>
            <p class="cs-text">
                Podczas wywiadu i badania skóry ustalimy cele, plan działań gabinetowych i pielęgnacji domowej, które pozwolą nam uzyskać <strong>poprawę zdrowia i wyglądu Twojej skóry</strong>.
            </p>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" alt="waves" width="960" height="839">
    </picture>
</section>

<!-- ============================================ -->
<!--             Side By Side Triplet             -->
<!-- ============================================ -->

<section id="sbs3">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/sbs3-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/sbs3.webp">
            <img loading="lazy" decoding="async" src="/sbs3-fallback.jpg" alt="construction" width="1476" height="1465">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Terapia przeciwstarzeniowa</span>
                <h2 class="cs-title">Antidotum na upływ czasu</h2>
            </div>
            <p class="cs-text">
                Niezależnie od tego czy starasz się zachować swój młodzieńczy wygląd czy próbujesz odjąć swojej skórze lat - będziemy w stanie <strong>precyzyjnie dobrać program pielęgnacyjny odpowiedni dla Twojej cery</strong>.
            </p>
            <p class="cs-text">
                W oparciu o najświeższy stan wiedzy branżowej zaproponuję suplementację, wskażę możliwe rozwiązania zabiegowe oraz zapewnię <strong>długofalowe monitorowanie rezultatów</strong>. Wszystko po to, żebyś na każdym etapie terapii czuła wsparcie profesjonalistki.
            </p>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" alt="waves" width="960" height="839">
    </picture>
</section>
                                
<style>
    /*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs1,
    #sbs2,
    #sbs3 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    #sbs1 .cs-container,
    #sbs2 .cs-container,
    #sbs3 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 53.125rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        /* 48px - 108px */
        gap: clamp(3rem, 5vw, 6.75rem);
    }
    #sbs1 .cs-content,
    #sbs2 .cs-content,
    #sbs3 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #sbs1 .cs-title,
    #sbs2 .cs-title,
    #sbs3 .cs-title {
        max-width: 20ch;
    }
    #sbs1 .cs-text,
    #sbs2 .cs-text,
    #sbs3 .cs-text {
        margin-bottom: 1rem;
    }
    #sbs1 .cs-text:last-of-type,
    #sbs2 .cs-text:last-of-type,
    #sbs3 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #sbs1 .cs-picture,
    #sbs2 .cs-picture,
    #sbs3 .cs-picture {
        width: 100%;
        /* 456px - 598px */
        height: clamp(28.5rem, 46vw, 37.375rem);
        border-radius: 1.25rem;
        overflow: hidden;
        display: block;
        /* sends it to the bottom in the 2nd position */
        order: 2;
        position: relative;
        z-index: 1;
    }
    #sbs1 .cs-picture:before,
    #sbs2 .cs-picture:before,
    #sbs3 .cs-picture:before {
        /* black overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #1a1a1a;
        opacity: 0.3;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #sbs1 .cs-picture img,
    #sbs2 .cs-picture img,
    #sbs3 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    #sbs1 .cs-background,
    #sbs2 .cs-background,
    #sbs3 .cs-background {
        width: 100%;
        height: 50%;
        background-color: #1a1a1a;
        /* background-color: var(--primary); */
        background-color: var(--secondary);
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    #sbs1 .cs-background img,
    #sbs2 .cs-background img,
    #sbs3 .cs-background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs1 .cs-content,
    #sbs2 .cs-content,
    #sbs3 .cs-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 2rem;
    }
    #sbs1 .cs-flex,
    #sbs2 .cs-flex,
    #sbs3 .cs-flex {
        width: 45%;
    }
    #sbs1 .cs-title,
    #sbs2 .cs-title,
    #sbs3 .cs-title {
        margin: 0;
    }
    #sbs1 .cs-text,
    #sbs2 .cs-text,
    #sbs3 .cs-text {
        width: 50%;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs1,
    #sbs2,
    #sbs3 {
        /* moved padding back to the section container */
        padding: var(--sectionPadding);
    }
    #sbs1 .cs-container,
    #sbs2 .cs-container,
    #sbs3 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    #sbs1 .cs-content,
    #sbs2 .cs-content,
    #sbs3 .cs-content {
        width: 100%;
        max-width: 27.0625rem;
        margin: 0;
        flex-direction: column;
        order: 2;
        row-gap: 0;
    }
    #sbs1 .cs-flex,
    #sbs2 .cs-flex,
    #sbs3 .cs-flex {
        width: 100%;
    }
    #sbs1 .cs-title,
    #sbs2 .cs-title,
    #sbs3 .cs-title {
        margin: 0 0 1rem 0;
        color: var(--headerColor);
    }
    #sbs1 .cs-text,
    #sbs2 .cs-text,
    #sbs3 .cs-text {
        width: 100%;
    }
    #sbs1 .cs-picture,
    #sbs2 .cs-picture,
    #sbs3 .cs-picture {
        max-width: 46.125rem;
        order: 1;
    }
    #sbs1 .cs-background,
    #sbs2 .cs-background,
    #sbs3 .cs-background {
        width: 60vw;
        height: 100%;
        /* 172px - 336px */
        margin-right: clamp(11.125rem, 30vw, 21rem);
        border-radius: 0 0 1rem 0;
        left: auto;
        right: 50%;
        top: 0;
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs2 .cs-content {
        order: -1;
    }
    #sbs2 .cs-background {
        margin: 0;
        /* 172px - 336px */
        margin-left: clamp(11.125rem, 30vw, 21rem);
        border-radius: 1rem 0 0 1rem;
        left: 50%;
        right: auto;
    }
}

/*-- -------------------------- -->
<---   Side By Side Triplet     -->
<--- -------------------------- -*/

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs3 .cs-background {
        border-radius: 0 1rem 0 0;
    }
}

                                
</style>