<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Specjalizacje</span>
            <h2 class="cs-title">Razem zadbamy o Twoją skórę</h2>
            <p class="cs-text">
                Masz problemy skórne, z którymi sobie nie radzisz? Oddaj się pod opiekę specjalistki w dziedzinie kosmetologii estetycznej i leczniczej, która zaproponuje kompleksowy plan pielęgnacyjny!
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="/icon2.svg" alt="icon"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Kosmetologia estetyczna</h3>
                <p class="cs-item-text">
                    Zapewnij swojej skórze świeżość i atrakcyjny wygląd dzięki innowacyjnym zabiegom kosmetologii estetycznej.
                </p>
                <a href="#sbs1" class="cs-link">
                    Czytaj dalej
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="/mask.svg" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Kosmetologia lecznicza</h3>
                <p class="cs-item-text">
                    Specjalistyczne zabiegi nie tylko poprawiają wygląd, ale przede wszystkim stawiają na zdrowie Twojej skóry.
                </p>
                <a href="#sbs2" class="cs-link">
                    Czytaj dalej
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="/icon3.svg" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Terapia przeciwstarzeniowa</h3>
                <p class="cs-item-text">
                    Zatrzymaj czas i ciesz się swoją urodą przez długie lata. Zadbaj o skórę już dziś pod okiem dedykowanej specjalistki.
                </p>
                <a href="#sbs3" class="cs-link">
                    Czytaj dalej
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
        </ul>
    </div>
</section>
                                
<style>
    /*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services {
        padding: var(--sectionPadding);
    
    }
    #services .cs-container {
        max-width: 34.375rem;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #services .cs-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
        /* set text align to left if content needs to be left aligned */
        text-align: center;
    }

    #services .cs-card-group {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 16px - 20px */
        gap: clamp(1rem, 2.3vw, 1.25rem);
    }
    #services .cs-item {
        list-style: none;
        width: 100%;
        margin: 0 auto;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        padding: 1.5rem;
        padding-bottom: 2rem;
        /* background-color: #f7f7f7; */
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        z-index: 1;
        border-radius: 2rem;
        transition:
            box-shadow 0.3s,
            border-color 0.3s;
        text-align: center;
        grid-column: span 12;
        grid-row: span 1;
    }
    #services .cs-item:hover .cs-arrow {
        filter: initial;
        filter: grayscale(1) brightness(0);
    }
    #services .cs-picture {
        width: 6.25rem;
        height: auto;
        margin: 0.5rem 0 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #services .cs-icon {
        width: 4.5rem;
        height: auto;
    }
    #services .cs-h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: bold;
        margin: 0 0 0.75rem;
        /* color: var(--headerColor); */
        color: var(--secondary);
        transition: color 0.3s;
        text-align: inherit;
    }
    #services .cs-item-text {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        max-width: 28.125rem;
        margin: 0;
        margin-bottom: 1.25rem;
        padding: 0;
        color: var(--bodyTextColor);
    }
    #services .cs-link {
        font-size: 1rem;
        line-height: 1.2em;
        font-weight: 700;
        margin-top: auto;
        /* color: var(--headerColor); */
        color: var(--secondary);
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: color 0.3s;
        text-align: inherit;
    }
    #services .cs-link:hover {
        color: #000;
    }
    #services .cs-link:hover .cs-arrow {
        transform: translateX(0.25rem);
        filter: grayscale(1) brightness(0);
    }
    #services .cs-arrow {
        width: 1.25rem;
        height: auto;
        display: block;
        filter: grayscale(1) brightness(0);
        transition:
            filter 0.3s,
            transform 0.3s;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services .cs-container {
        max-width: 80rem;
    }
    #services .cs-item {
        grid-column: span 4;
    }
}

                                
</style>